{
  "query": {
    "bool": {
      "should": [
        {
          "match": {
            "title": {
              "query": "{{.Keyword}}",
              "boost": 1
            }
          }
        },
        {
          "match": {
            "description": {
              "query": "{{.Keyword}}",
              "boost": 0.1
            }
          }
        }
      ]
    }
  },
  "size": 100
}