{
  "query": {
    "function_score": {
      "query": {
        "bool": {
          "should": [
            {
              "match": {
                "title": {
                  "query": "{{.Keyword}}",
                  "operator": "AND"
                }
              }
            },
            {
              "match": {
                "description": {
                  "query": "{{.Keyword}}",
                  "operator": "AND"
                }
              }
            }
          ]
        }
      },
      "functions": [
        {
          "filter": {
            "match": {
              "title": {
                "query": "{{.Keyword}}",
                "operator": "AND"
              }
            }
          },
          "weight": 1
        },
        {
          "filter": {
            "match": {
              "description": {
                "query": "{{.Keyword}}",
                "operator": "AND"
              }
            }
          },
          "weight": 0.1
        }
      ],
      "score_mode": "sum",
      "boost_mode": "replace"
    }
  }
  "size":100
}
