{
  "query": {
    "bool": {
      "should": [
        {
          "match": {
            "title": {
              "query": "{{.Keyword}}",
              "boost": {{.TitleBoost}}
            }
          }
        },
        {
          "match": {
            "description": {
              "query": "{{.Keyword}}",
              "boost": {{.DescriptionBoost}}
            }
          }
        }
      ]
    }
  },
  "size": {{.Size}}
}